@charset "utf-8";
/* CSS Document */

body{
	background: #f1fbff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}
p{
	margin: 0 0 8px 0;
}
div#wrapper{
	width: 594px;
	margin: 0 auto;
	overflow: visible;
}

div#RW{z-index: 3;}

div#logo{
	width: 227px;
	height: 42px;
	text-indent: -9999px;
	background: url(../../images/frontend/logo.gif) no-repeat;
}
div#header{
	width: 594px;
	background: url(../../images/frontend/top.png) no-repeat bottom center;
	height: 67px;
}
div#menu{
	margin: -16px 39px 0 0;
}

div#container{
	background:url(../../images/frontend/bg.png) repeat-y;
}

div.box{
	width: 600px;
	margin: -5px 0 0 -29px;
	color: #787e84;
}
div.second{
	margin: 13px 0 0 -29px;
}
div.box-top{
	width: 600px;
	height: 16px;
	background:url(../../images/frontend/box-top.png) no-repeat;
}

div.box-mid{
	width: 600px;
	background:url(../../images/frontend/box-mid.png) repeat-y;
}

div.box-bot{
	width: 600px;
	height: 16px;
	background:url(../../images/frontend/box-bot.png) no-repeat;
	margin: -3px 0 0 0;
}

div.box-content{
	padding: 0 15px;
	margin: -3px 0 0 0;
	overflow: visible;
}

div#bottom-bg{
	width: 594px;
	height: 24px;
	background:url(../../images/frontend/bottom.png) no-repeat;
}

div.box-content-left{
	overflow: hidden;
}

div.box-content-left div.image-margin img{
	float: left;
}

div.box-content-left div.text-container{
	width: 400px;
	float: right;
}

h2.ticket-head{
	width: 150px;
	height: 22px;
	background:url(../../images/frontend/ticket.png) no-repeat;
	text-indent: -9999px;
}


div.text-container p.module-heading-seperator{
	background:url(../../images/frontend/hr-left.png) no-repeat;
	height: 2px;
	width: 418px;
	margin: 5px 0 5px -18px;
} 


div.box-content-left div.image-margin img.second-image{
	margin: 0 0 0 -10px;
}

div#second-container{
	padding: 0 20px;
}

div.second-container-content{
	margin: -35px 0 0 5px;
	overflow: auto;
}
div.second-container-content2{
	margin: 0 0 0 5px;
	overflow: auto;
}

div.second-container-content img, div.second-container-content2 img{
	float: left;
	margin: 0 25px 0 0;
}

div#footer-container, div.portfolio-item-seperator{
	width: 500px;
	height: 2px;
	margin: 0 auto;
	background: url(../../images/frontend/footer-bg.png) repeat-x top;
}

label{
	font-size: 14px;
	line-height: 26px;
}

div#ticket{
	margin: 40px 0 0 0;
}

input, textarea, select{
	width: 280px;
	background: #f7f7f7;
	border: 1px solid #cccccc;
	font-size: 14px;
	margin: 0 0 2px 0;
	padding: 3px 5px;
}
select{
  width: 292px;
}
textarea{
	font-size: 12px;
	
}

div.lab{
	width: 130px;
	float: left;
}
div.inp{
width: 300px;
float: right;
}
div.but{
	width: 500px;
	float: right;
	text-align: right;
}
div.but input{
	width: 97px;
	height: 34px;
	background: url(../../images/frontend/submit-but.png) no-repeat;
	text-indent: -9999px;
	border: none;
	margin: 5px 47px 0 0;
	padding: 0;
}
div.but input:hover{
	cursor: pointer;
}

p.quote{
	background: url(../../images/frontend/quote.png) no-repeat;
	padding: 0 0 0 32px;
}
p.right-align{
	text-align: right;
}

h4{
	font-size: 16px;
	color: #60a2c2;
}

a.menu, a.contact{
	font-size: 14px;
	color: #579441;
	text-decoration: none;
}

a.menu:hover, a.contact:hover{
	color: #217cc3;
}

a#showHide-RW, a#showHide-TW{
	font-size: 10px;
	text-decoration: none;
	color: #4e7eab;
	margin: 0 41px 0 0;
}
a#showHide-RW:hover, a#showHide-TW:hover{
	color:#003366;
}

span.tweet{
	font-style: italic;
}
div#ieNotice{
	display: none;
}
div.marg{
	height: 15px;
}